.black-nav{
  background: black;
  padding: 20px;
  color: #fff;
  width: 100%;
  
}
.list{
  border-bottom: 1px solid #ddd;
  padding:20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  h4{
    margin-bottom: 20px;
    color0: #555;
  }
  span{
    font-size: 30px;
     color: violet;
     padding-right: 10px;
  }
  p{
    font-size: 14px;
    color:#999;

  }
  
}
.modal{
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background: #eee;
  position: absolute;
  top: 20px;
}
button{
  padding: 10px 20px;
  margin-top: 20px;
  background: rgb(165, 15, 15);
  color: #fff;
  margin-left: 20px;
  border: none;
  height: 50px;
}
input{
  display: block;
  margin: 10px 30px;
  padding: 10px  20px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100vh;
}
.write{
  display: flex;
  justify-content:center;
  line-height: 50px;
  width: 90px;
  background: #555;
}